dlib==19.24.6
face_recognition==1.3.0
Flask==2.1.2
Flask_Session==0.4.0
matplotlib==3.5.2
numpy==1.23.0
opencv_contrib_python_headless==4.9.0.80
pandas==2.0.2
Pillow==9.1.1
Pillow==10.4.0
psycopg2_binary==2.9.6
SQLAlchemy==2.0.16
Werkzeug==2.1.2